html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
h1 {
  font-size: 2em;
  margin-bottom: 0.75em;
  line-height: 1.5;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 0.75em;
  line-height: 1;
}
h3 {
  font-size: 1.25em;
  margin-bottom: 1em;
  line-height: 1.2;
}
h4 {
  font-size: 1.125em;
  margin-bottom: 1.33em;
  line-height: 1.33;
}
h5 {
  font-weight: bold;
}
h5,
h6 {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.5;
}
p,
address {
  margin-bottom: 1.5em;
}
article ul {
  list-style: disc;
  margin-bottom: 1.5em;
}
article ul li {
  margin-left: 1.5em;
}
code {
  font-family: "Bitstream Vera Sans Mono", "Courier", monospace;
}
html {
  background-color: #f0f0f0;
}
.wf-loading {
  visibility: hidden;
}
body {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
}
a {
  color: #c30;
  text-decoration: none;
}
#breadcrumbs,
#content,
footer {
  clear: both;
  float: left;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#breadcrumbs-container {
  width: 100%;
  background: -webkit-gradient(linear, center top, center bottom, color-stop(0, #f5eedd), color-stop(1, #f1e090));
  background: -webkit-linear-gradient(center top, #f5eedd 0%, #f1e090 100%);
  background: -moz-linear-gradient(center top, #f5eedd 0%, #f1e090 100%);
  background: -o-linear-gradient(center top, #f5eedd 0%, #f1e090 100%);
  background: -ms-linear-gradient(center top, #f5eedd 0%, #f1e090 100%);
  background: linear-gradient(center top, #f5eedd 0%, #f1e090 100%);
  height: 28px;
  margin: 0;
  padding: 0;
  position: relative;
  border-bottom: 2px solid #f6f6f6;
}
#breadcrumbs {
  background: none;
  height: 28px;
  margin: 0 75px;
}
#breadcrumbs li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
#breadcrumbs li a {
  display: block;
  float: left;
  padding: 0;
}
#breadcrumbs li.last {
  padding: 0;
}
#breadcrumbs li.not-last:after {
  content: "\00bb";
  float: right;
  padding: 0 8px;
}
#content,
footer {
  background-color: #fff;
}
#content {
  margin: 0;
  width: 100%;
}
#content-body {
  width: 100%;
  padding: 75px 75px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#content {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 350px;
}
footer {
  width: 100%;
  border-top: 8px solid #f6f6f6;
  padding-top: 13px;
}
#footer-body {
  width: 100%;
  padding: 0 75px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clear {
  clear: both;
  border-width: 0;
  margin: 0;
  visibility: hidden;
}
body {
  font-family: "Times", "Times New Roman", "Georgia";
  font-size: 1.2em;
  line-height: 1.4em;
  color: #333;
}
body #breadcrumbs {
  font-family: "'Helvetica Neue'", "Helvetica", "Arial", "Geneva", "sans-serif";
}
body #breadcrumbs li {
  color: #333;
  font-size: 13px;
  font-weight: bold;
  line-height: 28px;
}
body #breadcrumbs li a {
  text-decoration: none;
  color: #333;
}
body #breadcrumbs li .list-crumb {
  font-weight: normal;
}
body #breadcrumbs li.not-last:after {
  content: "\00bb";
  float: right;
}
body footer {
  font-family: "'Helvetica Neue'", "Helvetica", "Arial", "Geneva", "sans-serif";
  color: #bbb;
  font-size: 13px;
  text-transform: lowercase;
}
body footer a {
  color: #bbb;
}
body.listing table#pages td.size,
body.listing table#subdirs td.size {
  font-family: "Monaco", "Consolas", "Lucida Console", "monospace";
  text-align: right;
}
body.listing table#subdirs td.name {
  font-family: "Monaco", "Consolas", "Lucida Console", "monospace";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.0455em;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
h1 {
  margin-top: 0;
}
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5em;
}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1.15em;
}
h4,
h5,
h6 {
  font-size: 1.1em;
}
a {
  color: #1040a0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#content-body a[href^="http:"],
#content-body a[href^="https:"] {
  padding-left: 1.2em;
  background-image: url("../images/globe4.svg");
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-background-size: 1.1em;
  -moz-background-size: 1.1em;
  -o-background-size: 1.1em;
  background-size: 1.1em;
}
#content-body a[href$=".pdf"] {
  padding-left: 1.3em;
  background-image: url("../images/pdf1.svg");
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-background-size: 1.1em;
  -moz-background-size: 1.1em;
  -o-background-size: 1.1em;
  background-size: 1.1em;
}
#content-body a[href$=".doc"] {
  padding-left: 1.3em;
  background-image: url("../images/doc1.svg");
  background-repeat: no-repeat;
  background-position: left center;
  -webkit-background-size: 1.1em;
  -moz-background-size: 1.1em;
  -o-background-size: 1.1em;
  background-size: 1.1em;
}
img.logo {
  float: right;
}
