@import 'nib'
@import 'fez'

global-reset()

fez-reset()

html
  background-color #f0f0f0

body
  background-color white
  margin 0 auto
  width 100%
a
  color #cc3300
  text-decoration none

#breadcrumbs, #content, footer
  clear both
  float left
  overflow hidden
  padding 0
  margin 0

#breadcrumbs-container
  width 100%
  background linear-gradient(center top, #f5eedd, #f1e090)
  height 28px
  margin 0
  padding 0
  position relative
  border-bottom 2px solid #f6f6f6

#breadcrumbs
  background none
  height 28px
  margin 0 75px
  li
    float left
    list-style none
    margin 0
    padding 0
    a
      display block
      float left
      padding 0 //8px
    &.last
      padding 0 //8px
    &.not-last:after
      content "\00bb"
      float right
      padding 0 8px

#content, footer
  background-color white

#content
  margin 0
  width 100%

#content-body
  width 100%
  padding 75px 75px
  box-sizing border-box

section#content
  margin-top 50px
  margin-bottom 50px
  min-height 350px

footer
  width 100%
  border-top 8px solid #f6f6f6
  padding-top 13px

#footer-body
  width 100%
  padding 0 75px
  box-sizing border-box

// FIXME: is this used at all?
.clear
  clear both
  border-width 0
  margin 0
  visibility hidden

// =============================================================================
// Typography
// =============================================================================

code-fonts             = "Consolas", "Inconsolata", "Lucida Console", "monospace"
monospace-fonts-block  = code-fonts
monospace-fonts-inline = code-fonts
sans-serif-fonts       = "Helvetica Neue", "Helvetica", "Arial", "sans-serif"
serif-fonts            = "Buenard", "Cambria", "Liberation Serif", "Georgia", "Times", "Times New Roman"
serif-italic-fonts     = "Gentium Basic", "Cambria", "Liberation Serif", "Georgia", "Times", "Times New Roman"

body
  font-family serif-fonts
  font-size 1.2em
  line-height 1.6em
  color #333333
  
  #breadcrumbs
    font-family sans-serif-fonts
    li
      color #333333
      font-size 13px
      font-weight bold
      line-height 28px
      a
        text-decoration none
        color #333333
      .list-crumb
        font-weight normal
      &.not-last:after
        content "\00bb"
        float right
  
  footer
    font-family sans-serif-fonts
    color #bbb
    font-size 13px
    text-transform lowercase
    a
      color #bbb
    .footsep
      margin 0 0.5em
  
  &.listing
    table#pages, table#subdirs
      td.size
        font-family monospace-fonts-block
        text-align right
    table#subdirs
      td.name
        font-family monospace-fonts-inline
  
  code
    font-family monospace-fonts-block
    font-size 85%
    .keyword
      font-weight bold
      color #3595ae //#9535ae //#a535ae //#21439c //#ff5600
    .string
      color #00a33f
    .comment
      color #999999
    .number, .literal, .regexp
      color #21439c
  
  pre
    line-height: 1.1em

// =============================================================================
// Headers
// =============================================================================

h1, h2, h3, h4, h5, h6
  text-rendering optimizelegibility
  font-family "Helvetica Neue", "Helvetica", "Arial"
  line-height 1.0455em

h1, strong, b
  font-weight bold

h2, h3, h4, h5, h6
  font-weight 500

em, i
  font-family serif-italic-fonts
  font-style italic

h1
  margin-top 0

h2, h3, h4, h5, h6
  margin-top 1.5em

h1
  font-size 1.5em

h2
  font-size 1.3em

h3
  font-size 1em

h4, h5, h6
  font-size 0.7em

// =============================================================================
// Colors
// =============================================================================

link_color = #1040a0

a
  color link_color
  text-decoration none
  &:hover
    text-decoration underline

#content-body a
  &[href^="http:"], &[href^="https:"]
    padding-left 1.0em
    background-image url(../images/globe4.svg)
    background-repeat no-repeat
    background-position left center
    background-size 0.9em
  &[href$=".pdf"]
    padding-left 1.3em
    background-image url(../images/pdf1.svg)
    background-repeat no-repeat
    background-position left center
    background-size 1.1em
  &[href$=".doc"]
    padding-left 1.3em
    background-image url(../images/doc1.svg)
    background-repeat no-repeat
    background-position left center
    background-size 1.1em

// =============================================================================
// Images
// =============================================================================

img.logo
  float right
